<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="minwoo.cms.user.userupdate.dao.mapper.UserMapper">
<select id="getUserInfo" resultType="minwoo.cms.user.userupdate.domain.User">
   select user_id userId, user_pwd userPwd, user_mail userMail,
   user_birth userBirth, user_nm userNm, user_nic userNic
    from users where user_id=#{userId}
</select>

<update id="updateUser" parameterType="minwoo.cms.user.userupdate.domain.User">
   update users
   set 
   user_nic =#{userNic}
   ,user_nm =#{userNm}
   ,user_birth =#{userBirth}
   ,user_mail =#{userMail}
   ,user_pwd =#{userPwd}
   where user_id =#{userId} 
</update>


<update id="delUser" parameterType="minwoo.cms.user.userupdate.domain.User">
   update users
   set 
   user_nic = null
   ,user_nm = null
   ,user_birth = null
   ,user_mail = null
   ,user_pwd = null
   ,mod_date = sysdate
   where user_id =#{userId} 
</update>

</mapper>