@CHARSET "UTF-8";

#comSend{
	
	width: 950px;
    margin-left: 250px;
    margin-bottom:50px;
}

table{
	

	
}
table.type03 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
      margin-left: 250px;
    border-top: 1px solid #ccc;
    border-left: 3px solid #369;
 
}
table.type03 th {
    width: 147px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #153d73;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}
table.type03 td {
  
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
td#c{
	 width: 650px;
	
	
}