<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="minwoo.cms.user.manmes.dao.mapper.ManMesMapper">
	<select id="getMess" resultType="minwoo.cms.user.manmes.domain.Mes" parameterType="string">
	select m.MES_GET_ID mesGetId,m.MES_CONTENT mesContent,m.mes_id mesId,m.mes_write_date mesWriteDate,
	m.user_id userId, u.user_nic userNic ,u.user_nm userNm,u.user_mail userMail
	from MESSAGES m join USERS u on m.MES_GET_ID=u.USER_ID 
	where m.MES_GET_ID =#{userId} 
   	
        
	</select>
	
<!-- 	<select id="getMes" parameterType="int"  resultType="minwoo.cms.user.manmes.domain.Mes"> -->
<!-- 	select m.MES_GET_ID,m.MES_CONTENT,m.mes_id ,u.user_id, u.user_nic,u.user_nm,u.user_mail -->
<!-- 	from MESSAGES m join USERS u on m.MES_GET_ID=u.USER_ID  -->
<!--    	where mes_id=#{mesId} -->
<!-- 	</select> -->

<delete id="delMess" parameterType="java.util.Map">
 		delete MESSAGES where mes_id in 
 		<foreach item="item" collection="tmpChecked" index="index" open="(" close=")" separator=",">
			#{item}
		</foreach>
 
</delete>



</mapper>