@CHARSET "UTF-8";

.btn-primary {
	color: wihte;
	text-decoration: none;
	border: 1px solid #286BF7;
	font-family: HY강B;	
}

.part {
	list-style-type: upper-roman;
}

.section {
	list-style-type: lower-alpha;
}

.plus {
	float: right;
}

.table {
	width: 40%;
}

table {
	font-family: HY강B;
	float: left;
	margin-right: 50px;
	font-size: 13px;
}

table#GubunType {
	margin-top: 10px;
	cellpadding: 20px;
	border-spacing: 10px;
	font-size: 13px;
}

td {
	padding: 10px;
}

.title {
	text-align: center;
}