<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="minwoo.cms.manboard.dao.mapper.ManboardMapper">
	<resultMap id="userMap" type="minwoo.cms.manboard.domain.ManboardInfo">
		<id property="mabId" column="mab_id" />
		<result property="mabNm" column="mab_nm" />
		<result property="mabYn" column="mab_yn" />
	</resultMap>
	
	<select id="getBoardList" resultMap="userMap" parameterType="minwoo.cms.manboard.domain.ManboardInfo">
		select mab_id, mab_nm, mab_yn from MAINBOARDS
	</select>		
	
	<insert id="insertBoard" parameterType="minwoo.cms.manboard.domain.ManboardInfo">
		insert into MAINBOARDS(mab_id ,mab_nm ,mab_yn ) 
			values(
					 mainboards_mabid_seq.nextval,#{mab_nm, jdbcType=VARCHAR},#{mab_yn, jdbcType=VARCHAR}
				)
	</insert>	
	
</mapper>