<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="minwoo.cms.manboard.dao.mapper.SubboardMapper">
	<resultMap id="subboardMap" type="minwoo.cms.manboard.domain.SubboardInfo">
		<id property="subId" column="sub_id" />
		<result property="subNm" column="sub_nm" />
		<result property="subYn" column="sub_yn" />
		<result property="mabId" column="mab_id" />
	</resultMap>	
	
	<select id="getBoardList" resultMap="subboardMap" parameterType="minwoo.cms.manboard.domain.SubboardInfo">
		select sub_id, sub_nm, sub_yn, mab_id from SUBBOARDS
	</select>	
	
	<insert id="insertBoard" parameterType="minwoo.cms.manboard.domain.SubboardInfo">
		insert into SUBBOARDS(sub_id ,sub_nm ,sub_yn , user_id, mab_id) 
			values(
					 subboards_subid_seq.nextval,#{subNm},#{subYn},#{userId},#{mabId}
				)
	</insert>		
	
	<select id="editListBoard" resultMap="subboardMap" parameterType="int">
		select sub_id ,sub_nm ,sub_yn , mab_id from SUBBOARDS where sub_id=#{subId}
	</select>	
	
    <update id="editBoard" parameterType="minwoo.cms.manboard.domain.SubboardInfo">
        update SUBBOARDS set sub_nm=#{subNm}, sub_yn=#{subYn}, mab_id=#{mabId} where sub_id=#{subId}
    </update>    	
	
    <delete id="delBoard" parameterType="int">
        delete SUBBOARDS where sub_id=#{subId}
    </delete>	
</mapper>