<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="minwoo.cms.manad.dao.mapper.AdMapper">
<select id="getAds" resultType="minwoo.cms.manad.domain.Ad">
	select ads_id adsId, ads_company adsCompany, ads_man adsMan,
	ads_file adsFile, ads_money adsMoney, ads_url adsUrl,
	ads_start_date adsStartDate, ads_end_date adsEndDate,
	reg_date regDate, user_id userId
	 from ads order by ads_id desc
</select>
	

</mapper>