@CHARSET "UTF-8";

.modal-dialog {
   font-family: HY강B;
   text-align: center;
}

.container {
   padding-left: 20px;
}

section#post {
   display: table-cell;
}

.navbar-default .navbar-nav>li>a {
   color: white;
   font-weight: bold;
   font-family: HY강B;
}

.btn-block {
   font-size: 15px;
   font-family: HY강B;
   background-color: #1077a9;
   color: white;
}

.plus {
   float: right;
} /* 메뉴 아이콘 배치 */
/* form { */
/*    position: relative; */
/*    width: 200px; */
/*    float: right; */
/*    margin: 0 auto; */
/* } */
table {
   font-family: HY강B;
   font-size: 15px;
}

.title {
   text-align: center;
}

.btn-primary:hover {
   border: 1px solid #1689b9;
   background-color: #1689b9;
}


.pagination {
   display: block;
   test-align: center;
}

.pagination>li>a {
   float: none;
}

div.d1 {
   margin-bottom: -30px;
}

.d1 input {
   width: 200px;
   height: 30px;
   padding-left: 10px;
   border: 2px solid #007DC1;
   border-radius: 5px;
   outline: none;
   float: right;
}

.d1 button {
   position: relative;
   top: -30;
   margin-left: 900px;
   width: 30px;
   height: 30px;
   border: none;
   background: #007DC1;
   border-radius: 0 5px 5px 0;
   cursor: pointer;
}

.d1 button:before {
   content: "\f002";
   font-family: FontAwesome;
   font-size: 16px;
   color: white;
}


select {
/*   position: absolute; */
   font-family: HY강B;
   border: 2px solid #F9B073;
   border-radius: 5px;
   width: 100px;
   height: 30px;
   flaot: left;
   margin-top:-20px;
/*    margin-top: -100px; */
   margin-bottom:30px;
}

.btn-info {
   height: 30px;
   background-color: #FFDADA;
   border: 1px solid #003366;
   font-family: HY강B;
   color: black;
}

.name {
   font-size:15px;
   font-family: HY강B;
   padding-top: 10px;
}



button.btn-warning{
   float:right;
   
}