<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="minwoo.cms.board.dao.mapper.BoardMapper">

   <!-- 01. 게시글 전체 목록 조회 -->
   <select id="getBoardLists" resultType="minwoo.cms.board.domain.BoardVo">
      select usb_id usbId, usb_title usbTitle, usb_content usbContent, reg_date regDate, usb_cnt usbCnt,user_id userId
      from userboards
   </select>
   
   <!-- 02. 게시글 작성 추가 -->
   <insert id="addBoard" parameterType="minwoo.cms.board.domain.BoardVo">
         insert into userboards(usb_id,usb_title,usb_content,user_id)
         values(userboards_usbid_seq.nextval,#{usbTitle},#{usbContent},#{userId})
   </insert>
   
   <!-- <delete id="delBoard" parameterType="minwoo.cms.board.domain.BoardVo">
   	delete userboards where usb_id=#{usbId}
   </delete> -->
   

   
</mapper>