@charset "utf-8";
footer{
		width:100%;
/* 		  position: absolute; */
		bottom:0;	
		margin-left:auto;
		margin-right:auto;
		font-family: HYê°•B;
		font-size:12px;	
		margin-top:50px;
	
}
/* center#footerfix{ */
/* 	margin-top:120px; */
/* } */